.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 500px;
  height: 170px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group {
  margin-bottom: 15px;
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
  padding:10px;
}

.input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
}

.button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #0056b3;
}

.result {
  margin-top: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: slide-up 0.3s ease-in-out;
  border: 1px solid #ccc;
}

@keyframes slide-up {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.result-text {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  width: 470px;
  padding-left: 10px;
}

.legend h3 {
  margin-left: 18px;
  font-size: 16px;
  margin-bottom: 5px;
  font-family: Arial, sans-serif;
  width: 500px;
}

.legend li {
  margin-bottom: 5px;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.legend li strong, .legend li span {
  font-size: 14px;
  font-family: Arial, sans-serif;
}